<div id="functions-index-page">
  <div class="index-container">
    <% if user_signed_in? %>
      <p><%= link_to 'New Function', new_function_path %></p>
    <% end %>
    <%= render 'list', functions: @functions %>
  </div>
  <br>
  <p id="notice"><%= notice %></p>
</div>
