#home-page {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    font-style: normal;
    background: linear-gradient(#F42D23, #C7221B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .search-bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 32px auto;
    width: auto;
    max-width: 584px;
    transition: .2s ease;
    padding: 4px 4px 4px 14px;
    &:hover {
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }
    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .btn {
        width: 28px !important;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 28px;
        padding: 0px 0px;
        margin-right: 8px;
        filter: invert(17%) sepia(81%) saturate(3561%) hue-rotate(357deg) brightness(92%) contrast(83%);
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E") center / contain no-repeat;
      }
    }
    #query {
      outline: none;
      border-color: transparent;
    }
    .search-input {
      flex: 1;
      display: flex;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.87);
      word-wrap: break-word;
      outline: none;
      display: flex;
      flex: 100%;
      -webkit-tap-highlight-color: transparent;
      height: 34px;
      font-size: 16px;
      &:focus {
        outline: none !important;
        text-decoration: none !important;
      }
    }
  }
  .footer-text {
    position: fixed;
    bottom: 0px;
    small {
      color: #00000075;
    }
  }
}

@media only screen and (max-width: 576px) {
  #home-page h1 {
    font-size: 48px;
  }
}
