// Import page-specific CSS files here.
@import "home";

#pages-index-page {
  background-color: #ffffff;
  min-height: calc(100vh - 127px);
  margin-top: 127px;
  .index-container {
    margin-left: 180px;
    width: 652px;
    h5 {
      padding-top: 16px;
    }
    a {
      color: #F42D23;
    }
  }
  .class-container {
    border-bottom: 1px solid #e1e1e1;
  }
}

@media only screen and (max-width: 576px) {
  #pages-index-page .index-container {
    margin: 16px;
    width: 90%;
    .description-text {
      font-size: 14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
}
