<div id="pages-index-page">
  <div class="index-container">
    <% if @types.count > 0 %>
    <div class="class-container">
      <h5>Classes</h5>
      <% @types.sort { |a, b| a.name <=> b.name }.each do |type| %>
        <div>
          <p><big><%= link_to "#{type.name}", type %></big> · <small>Class</small></p>
          <p class="description-text"><%= type.description.truncate(140, separator: ' ') %></p>
        </div>
      <% end %>
    </div>
    <% end %>
    <% if @functions.count > 0 %>
      <h5>Methods</h5>
      <%= render 'functions/list', functions: @functions %>
    <% end %>
  </div>
</div>
