@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  padding-bottom: 5px;
  a {
    margin-right: 16px;
    color: #00000075;
  }
  .active {
    color: #F42D23;
    border-bottom: 4px solid #F42D23;
  }
}

.border-bottom {
  border-bottom: 1px solid #ebebeb;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-left {
  display: flex !important;
  align-items: center !important;
  height: 73px;
  h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    background: linear-gradient(#F42D23, #C7221B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a {
    width: 116px;
  }
  a:hover {
    text-decoration: none !important;
  }
  .search-bar {
    background: #fff;
    display: flex;
    border: none;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 16px;
    width: 50vw;
    max-width: 584px;
    transition: .2s ease;
    padding: 4px 4px 4px 16px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .btn {
        width: 28px !important;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 28px;
        padding: 0px 0px;
        margin-right: 8px;
        filter: invert(17%) sepia(81%) saturate(3561%) hue-rotate(357deg) brightness(92%) contrast(83%);
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E") center / contain no-repeat;
      }
    }
    &:hover {
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }
    .search-input {
      flex: 1;
      display: flex;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.87);
      word-wrap: break-word;
      outline: transparent;
      display: flex;
      flex: 100%;
      -webkit-tap-highlight-color: transparent;
      height: 34px;
      font-size: 16px;
    }
  }
}

.navbar-container .row {
  width: calc(100vw - 32px);
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.navbar-bottom {
  margin-left: 164px;
  width: 652px;
  height: 40px;
  display: flex;
  align-items: center;
  a {
    padding: 12px 12px 12px 12px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-bottom {
    margin-left: 0px;
  }
  .navbar-bottom a {
    padding: 22px 4px 2px 4px;
    border-bottom: 4px solid transparent;
    font-size: 14px;
  }
  .navbar-left {
    flex-direction: column;
    width: calc(100vw - 32px);
    .search-bar {
      width: calc(100vw - 32px);
      height: 40px;
      margin-top: 4px;
    }
  }
  .navbar-lewagon h1 {
    font-size: 24px;
  }
}
